<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="d-flex" method="POST" action="{% url 'studenteats:save_dcuisssion'%}">
        {% csrf_token %}
        <!--Title:<input  type="text" placeholder="Set your title" name="title"></br>--->
        Discription:<input  type="text" placeholder="Set your discription" name="discription"></br>
        Reply_id:<input  type="text" placeholder="Set your id" name="rep_id"></br>
        <button class="btn btn-default" type="submit">Save</button>
    </form>
</body>
</html>