<!DOCTYPE html> 
{% load staticfiles %}

<html> 
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>
            Student Eats 
            {% block title_block %} 
                Good Food on a Budget
            {% endblock %} 
        </title>
    </head>

    <body>
        <div>
                {% block body_block %}
                {% endblock %}
                </div>
        <div>
        <hr />
        <div>
            <ul>
                {% if user.is_authenticated %}
                    <!-- add user specific once user model created-->
                    <li><a href="{% url 'studenteats:profile' %}">My Profile</a></li>
                    <li><a href="{% url 'studenteats:restricted' %}">Restricted Page</a></li>
                    <li><a href="{% url 'studenteats:logout' %}">Log out</a></li>
                    
                {% else %}
                    <li><a href="{% url 'studenteats:login' %}">Log In</a></li>
                    <li><a href="{% url 'studenteats:register' %}">Sign Up</a></li>
                    
                {% endif %}
                    <li><a href="{% url 'studenteats:about' %}">About</a></li>
                    <li><a href="{% url 'studenteats:index' %}">Index</a></li>
                
            </ul>
        </div>

           <!-- {% block navbar_block %}
                <div class="navbar">
                    <a href="{% url 'studenteats:restaurant' %}">Restaurant Home</a>
                    <a href="{% url 'studenteats:recipe' %}">Recipe Home</a>
                    <a href="{% url 'studenteats:about' %}">About</a>
                    <a href="{% url 'studenteats:profile' %}">My Profile</a>
                </div>
            {% endblock %} 
    
            {% block hot_sidebar %} 
                <div class="hot_container">

                </div>
            {% endblock %} 

        <div>
            {% block footer_block %} 
                <i class="fa">&#xf059;Need Help?</i>
            {% endblock %} 
        </div> -->

    </body>
</html>
