{% extends 'studenteats/base.html' %}
{% load staticfiles %} 

{% block body_block %} 
<link href="{% static 'custom/forum.css' %}" rel="stylesheet">
          <!-- Show the Discussion information -->
          {% for Discussion in discussion %}
          <div class="p-3 ms-3 mb-4 rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-4 lead fst-italic">{{ Discussion.Title }}</h1>
              <p class="col-md- fs-4 fst-italic">{{ Discussion.Description}}</p>
              <div class="mb-1">
              <form class="d-flex" method="POST" action="{% url 'studenteats:add_comments'%}">
                {% if user.is_authenticated %}
                {% csrf_token %}
                <div class="btn-group-vertical">
                <button class="btn button btn-sm px-4" type="submit" style="color:white;width:150px">Add Reply</button></form>
                <br/>
                <a href="{% url 'studenteats:forum' %}" class="btn button  btn-sm px-4" style="width:150px">Back</a>
              </div>
                {% else %} 
                <div class="btn-group-vertical">
                <a href="{% url 'studenteats:register' %}" class="btn button btn-sm px-4 " style="width:150px">Log In to Reply</a>
                <a href="{% url 'studenteats:forum' %}" class="btn button btn-sm px-4 mt-2" style="width:150px">Back</a>
                </div>
                {% endif %} 
              </div>
              {% endfor %}              
            </div>
          </div>
      


          <hr class="col-9 col-md-2 mb-5">
          <div class="row g-5 ">
<!-- Show the reply for this Discussioin -->
          {% for Discussion_Replies in reply %}
          <div class="bg-light ms-3">
              <h4 class="lead">{{ Discussion_Replies.Description}}</h4>
              <ul style="color:coral;">
                <li style="list-style: none;">{{ Discussion_Replies.User_ID}}</li>
                <li style="list-style: none;">{{ Discussion_Replies.Created_Time }}</a></li>
                <li style="list-style: none;"> 👍 {{ Discussion_Replies.Likes }}</li>
              </ul>
              </div>
              <hr>
            {% endfor %}
            </div>
          </div>
        </main>
      </div>
      
        <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %} 

