{% extends 'studenteats/base.html' %} 
{% load staticfiles %} 


{% block title_block %}
    Discussion Detail
{% endblock %}

{% block navbar_block %} 
<div class="masthead">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="{% url 'studenteats:restaurant' %}" >Restaurant Home</a></li>
          <li><a href="{% url 'studenteats:recipe' %}">Recipe Home</a></li>
          <li class="active" ><a href="{% url 'studenteats:forum' %}">Forum</a></li>
          <li><a href="{% url 'studenteats:about' %}">About</a></li>
          <li><a href="{% url 'studenteats:profile' %}">My Profile</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block body_block %}

{% for Discussion in discussion %}
{{ Discussion.Title }}

<hr>
  {% for Discussion_Replies in reply %}
      <h1>{{ Discussion_Replies.Description }}</h1>
      <h4>{{ Discussion_Replies.User_ID }}</h4>
      <h4>{{ Discussion_Replies.Created_Time }}</h4>
      <h4>👍 {{ Discussion_Replies.Likes }}</h4>
      <hr>
  {% endfor %}
{% endfor %}

{% endblock %}