{% extends 'studenteats/base.html' %} 
{% load staticfiles %} 

{% block title_block %}
Forum
{% endblock %}
{% block body_block %}
<div class="container">
      <div class="jumbotron BG rounded" style="color:rgb(77, 0, 0)">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1 class="p" id="jumbo-text">😆Discuss it！</h1>
        <p class="lead">You could say everything here.</br>A little Question may get thousands of Replies!</p>
      </div>

      <hr>

      <!-- Example row of columns -->
      
      <div class = "row-fluid">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 150px;height: 50px; float:right ">
            <h5 style="color:rgb(175, 200, 253)">Order By</h5>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="{% url 'studenteats:forum' 0%}" style="color:rgb(49, 138, 190)">Views</a></li>
            <li><a class="dropdown-item" href="{% url 'studenteats:forum' 1%}" style="color:rgb(49, 138, 190)">Likes</a></li>
            <li><a class="dropdown-item" href="{% url 'studenteats:forum' 2%}" style="color:rgb(49, 138, 190)">Create Time</a></li>
          </ul>
        </div>
      </div>

    <hr>

      <div>

            <ul>
            {% for Discussion in Discussions %}
            <div class="row-fluid">
              <div class="span4">
                <h2>{{Discussion.Title}}</h2>
                <p style="width: 1000px;height: 50px;">{{Discussion.Description}}</p>
                <p><a class="btn" href="{% url 'studenteats:discussion_detail' Discussion.Discussion_ID %}" style="color:rgb(49, 138, 190);">View details &raquo;</a></p>
              </div>
            </div>
            <hr>
            {% endfor %}
            </ul>
      </div>
</div>
{% endblock %}