{% extends 'studenteats/base.html' %}
{% load staticfiles %}

{% block login_link %}
{% endblock %}
{% block navbar_block %}
{% endblock %}
{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/login.css' %}">

<div class="row justify-content-md-center">
  <div class="login col-sm-6 px-4 mt-3" style="width: 30rem;">
      <div class="card bg-success text-center px-3 mt-2 mh-100">
        <div class="card-body">
        <h3>Login to Student Eats</h3>
        <strong> Welcome Back!</strong>
        <form id="login_form" method="post" action="{% url 'studenteats:login' %}">
            {% csrf_token %}
        <img src="{% static 'images/breakfast.jpg' %}" alt="An image of a recipe book" class="card-img-bottom" style="width: 20rem;">
        <hr>
        <label for="inputUsername" class="se-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>
    
        <label for="inputPassword" class="se-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
            
        <button class ="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign in</botton>
        
        </form>
        
     </div>
  </div>
</div>
  

<div class="register col-sm-6 px-4 mt-3">
  <div class="card bg-danger text-center px-3 mt-2 h-100"  style="width: 35rem;">
      <div class="card-body">
      <h3>Register </h3>
      {% if registered %}
      <strong> Register successfully!</strong>
      <a href="{% url 'studenteats:login' %}"please login!></a><br />
      {% else %}
      <strong> Join the Community!</strong>
      
      <div class="form-group h-100"  style="width: 30rem;">
      <form id="user_form" method="post" action="{% url 'studenteats:register' %}" enctype="multipart/form-data">
        {% csrf_token %}
       
        <img src="{% static 'images/AliInayUnsplash.jpg' %}" alt="An image of a recipe book" class="justify-content-md-center" style="width:20rem;">
        <hr>
        
        <tr> {{user_form.as_p}}</tr>
        <tr></tr> {{profile_form.as_p}} </tr>
        
            
        <!--<input type="submit"value="Submit"/>-->
        
        <button class ="btn btn-lg btn-primary" type="submit" value="Submit">I Want to Join</botton>
            
        </div>
    </form>
</div>
</div>

{%endif%}
{% endblock %}

