{% extends 'studenteats/base.html' %}
{% load staticfiles %}
{% block body_block %}

<div>
    <body background="{% static 'images/place.jpg' %}" alt="An image of a laptop" class="card-img-bottom">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 px-4 mt-3">
        <div class="card bg-secondary text-center px-3 mt-2 h-100">
            <div class="card-body">
            <h1>Account Information</h1>
            <ul>
            <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                 width="200"
                 height="250"
                 alt="{{ user.username}}'s profile image" /><br>
                 <br><strong>Username: <br></strong>{{user.username}}<br><br>
                 <strong>Email:<br></strong> {{user.email}}<br>
            </ul>
            {% csrf_token %}
            
            <br />
            </div>
        </div>
        </div>

        <div class="information col-sm-4 px-4 mt-3">
            <div class="card bg-success text-center px-3 mt-2 h-100">
              <div class="card-body">
              <h1>Personal Information</h1>
    
                  {% csrf_token %}
              
              <ul>
              
              <li><strong>Name: </strong><br>{{ user_profile.name }}<br></li>
              
              <li><strong>University: </strong><br>{{ user.profile.university }}<br></li>
             
              <li><strong>Telephone: </strong><br>{{ user.profile.telephone }}<br></li>
              
              <li<strong>Location: </strong><br>{{ user.profile.location }}<br></li>
              <p>
              <li><strong>Website:<br></strong>{{ user.profile.website }}<br></strong>
                  <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></li>
              </p>
              <li><strong>Last Updated:</strong><br>{{ user.profile.birthday }}<br></li>
              </ul>
              
              <!--<input type="submit"value="Submit"/>-->
           </div>
        </div>
     
        </div>
    <div class="col-sm-4 px-4 mt-3">
        <div class="card bg-danger px-3 mt-2 h-100">
            <div class="card-body">
              {% if selected_user == user %}
              <form method="post" action="{% url 'studenteats:profile' %}" enctype="multipart/form-data">
              <h1>Update Information</h1>
                  {% csrf_token %}
                  {{form.as_p }}
                  <input class="button btn" type="submit" value="Update" />
              </form>
              {% else %}
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block outside_block %}
    <link href="{% static 'custom/profile.css' %}" rel="stylesheet">
    <div class="recipe-profile">
        <a class="btn btn-primary" href="{% url 'studenteats:add-recipe' %}" role="button">Add Recipe</a>
        <div><h4>My Recipes</h4></div>
        

        <div class="list-recipes">
            {% if recipes %}
                {% for r in recipes %}
                <div class="card">
                    <div class="card-header">
                        <div class="group1">
                            <i class="fa fa-heart-o" id="like-icon" aria-hidden="true" style="color:black"></i>
                            {{r.Likes}}
                        </div>
                        <div class="group2">
                            <a href="{% url 'studenteats:delete-recipe' r.id %}"><i class="fa fa-solid fa-trash" ></i></a>

                        </div>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{r.Title}}</p>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <h6>No recipies to show</h6>
            {% endif %}
        </div>

    </div>
    {% endblock %} 
