{% extends 'studenteats/base.html' %} 
{% load staticfiles %} 
{% block body_block %}

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">{{user.username }}'s Profile</h1>
        
    </div>
</div>

<div>
    <body background="{% static 'images/place.jpg' %}" alt="An image of a laptop" class="card-img-bottom">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 px-4 mt-3">
        <div class="card bg-secondary text-center px-3 mt-2 h-100">
            <div class="card-body">
            <h1>Account Information</h1>
            <ul>
            <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                 width="200"
                 height="250"
                 alt="{{ user.username}}'s profile image" />
                 Username:{{user.username}}
                 Email:{{user.email}}
            </ul>
            {% csrf_token %}
            
            <br />
            </div>
        </div>
        </div>

        <div class="information col-sm-4 px-4 mt-3">
            <div class="card bg-success text-center px-3 mt-2 h-100">
              <div class="card-body">
              <h1>Personal Information</h1>
    
                  {% csrf_token %}
              
              <ul>
              
              <li>Name:{{ user_profile.name }}</li>
              
              <li>University:{{ user.profile.university }}</li>
             
              <li>Telephone:{{ user.profile.telephone }}</li>
              
              <li>Location:{{ user.profile.location }}</li>
              <p>
              <li><strong>Website:</strong>
                  <a href="{{ user_profile.website }}">{{ user_profile.website }}</a></li>
              </p>
              <li>updatetime:{{ user.profile.birthday }}</li>
              </ul>
              
              <!--<input type="submit"value="Submit"/>-->
           </div>
        </div>
     
        </div>
    <div class="col-sm-4 px-4 mt-3">
        <div class="card bg-danger px-3 mt-2 h-100">
            <div class="card-body">
              {% if selected_user == user %}
              <form method="post" action="{% url 'studenteats:profile' %}" enctype="multipart/form-data">
              <h1>Update Information</h1>
                  {% csrf_token %}
                  {{form.as_p }}
                  <input type="submit" value="Update" />
              </form>
              {% else %}
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}
