{% extends 'studenteats/base.html' %}
{% load staticfiles %}

{% block body_block %} 

<style type="text/css">
    body{
        margin:0;

        font-family: 'Quicksand',sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    .container {
        width:100vw;
        height:100vh;

        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        gap:10px;
        padding: 10px;

        box-sizing: border-box;
    }
    .container div {
        padding: 10px;
        border: 1px solid;
    }

</style>
    <div class="container">

    
    <div>
        area for popular_recipes
    </div>
    
    <div>
        area for search box
        <form class="d-flex" method="POST" action="{% url 'studenteats:search_recipes'%}">
            {% csrf_token %}
            <input class="form-control me-1"
                type="search" placeholder="Search For Your Recipes" name="searched">
            <button class="btn btn-default" type="submit">Search</button>
    </div>

    <div>
        random recommendation media
    </div>

</div>

{% endblock %}