{% extends 'studenteats/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Studenteats Register
{% endblock %}

{% block body_block %}
<h1>Register for Studenteats</h1>

{% if registered %}
Studenteats says: <strong>thank you for registering!</strong>
<a href="{% url 'studenteats:index' %}">Return to the homepage.</a><br />

{% else %}
Studenteats says: <strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'studenteats:register' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <input type="submit" name="submit" value="Register" />
</form>
{% endif %}
{% endblock %}
    
