{% extends 'studenteats/base.html' %}
{% load staticfiles %}

{% block outside_block %}
<link href="{% static 'custom/restaurantHome.css' %}" rel="stylesheet">
<script src="{% static 'js/script.js' %}"></script>

<div class="restaurant-wrapper ">
    <div class='card-container col-sm mt-0'>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Popular Restaurants
            </div>
            <ul class="list-group list-group-flush">
                {% for rest in popular_restaurants %}
                <li class="list-group-item">
                    <a class='dec-removal' href="/">{{rest.Name}}
                </li></a> {% endfor %}
            </ul>
        </div>
    </div> 
    <div class="search-restaurant-week col-sm mt-0 border-success">
            <div class="search-map">
                <p class="h2 text-center">Student Eats in Your City</p><br>
                <div class="input-group rounded " >
                    
                    <input type="text" name="searched" id="search-map-restaurants" class="form-control rounded" placeholder="Glasgow, Edinburgh..."
                        aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <button type="submit" id="search-button" onclick="handleSubmitByLocation()" >
                        <!-- <button type="submit" id="search-button" onclick="handleSubmitByLocation()" url="{{ url }}"> -->
                            <img height=20px width=15px src="{% static 'images/search.svg' %}">
                        </button>
                </div>
                <div id="map"></div>
                <h5 id="map-message"></h5>
            </div>
    </div>

    <div class="flip-box col-sm mh-100" >
        <div class="flip-box-inner">
            <div class="flip-box-front">
                <img class="restaurant-image img-fluid" src="{% static 'images/restaurant-week.jpeg' %}"
                    alt="Recipe of the week">
            </div>
            <div class="flip-box-back">
                <p class="h3"><br><br>This week <br>our top pick is...</p>
                <p>
                    {% if restaurantWeek %}
                    {{restaurantWeek.Name}}
                    {% else %}
                    Come back soon to find out!
                    {% endif %}
                    <br><br>
                </p>
                <p><em>"This is just one of the amazing restaurants on our site. Browse below to see some
                            more!"</em></p>
            </div>
        </div>
    </div>

    <div class="row-fluid mx-auto">
        <div class="list-wrapper">
            {% for s in search %}
            <div class="card text-black" style="width: 18rem;">
                <img class="card-img-top" src="{{ MEDIA_URL }}recipe_images/test.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title text-success"><strong>{{s.Name}}</strong></h5>
                  <input type="hidden" id="url" data="{% url 'studenteats:forum' %}">
                  <a class="btn btn-primary" id="view-recipe" onclick="recipeClick()">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

<div class="row-fluid">
    <div class="col-sm-4 mh-100 mx-auto">
        <h5>Haven't found what you're looking for?</h5>
            <form method="post" action="">
                {% csrf_token %}
                <div class="input-group rounded">
                    <input type="text" name="searched" class="form-control rounded" placeholder="Search for a restaurant"
                        aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                        <!-- <i class="fas fa-search"></i> -->
                        <button type="submit" id="search-button">
                            <img height=15px width=15px src="{% static 'images/search.svg' %}">
                        </button>
                    </span>
                </div>
            </form>
    </div>
</div>


</div>


{% endblock %}
