{% extends 'studenteats/base.html' %}
{% load staticfiles %}

{% block body_block %} 
    <center>
        {% if searched %}
            <h1>You Searched For {{searched}}</h1>
            <br/>
            <li>

                {% for recipe in recipes %}
                     <!---  {{recipe.Title}}--{{recipe.Cuisine}} --->
                    <a href="{% url 'studenteats:show_recipes' recipe.Recipe_ID %}">{{recipe.Title}}--{{recipe.Cuisine}}</a></br>
                {% endfor %}

            </li>

        {% else %}
            <h1>Seems You have not Searched for recipes</h1>
        {% endif %}

    </center>

{% endblock %}