{% extends 'studenteats/base.html' %}
{% load staticfiles %}

{% block outside_block %}
<link href="{% static 'custom/showRecipe.css' %}" rel="stylesheet">
<script src="{% static 'js/script.js' %}"></script>

<div class="main-wrapper">
    <div class="recipe-page-wrapper">
        <div class="recipe-page-title">
            <h2>{{ recipe.Title }}</h2>
        </div>
        {% if recipe.Image %}
        {{ recipe.Image }}
        {% endif %}
        <p>{{ recipe.Content }}</p>
        <div id="like" onclick="likeClick()">
            <i class="fa fa-heart-o" id="like-icon" aria-hidden="true" style="color:black"></i>
            <p>{{ recipe.Likes}}</p>
        </div>
    </div>
    <div class="author">
        <img src="{% static 'images/user.png' %}">
        <h5>{{recipe.Owner.Name}}</h5>
        <h6>No of posts: {{count}}</h6>
    </div>
</div>
{% endblock %}