
/* Custom container */
.container {
    color: coral;
    margin: 0 auto;
    max-width: 1000px;
}

.container>hr {
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 10px 0;
    text-align: center;
    background-image: url("{% static 'images/place.jpg' %}") !important;
}

.jumbotron h1 {
    font-size: 4rem;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.masthead {
    display: flex;
    justify-content: center;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
    padding: 0;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 1%;
    float: none;
}

.navbar .nav li a {
    color: coral;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .75);
    border-right: 1px solid rgba(0, 0, 0, .1);
}

.navbar .nav li a:hover {
    color: #198753;
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}

.navbar .nav .active a {
    color: coral;
}

.BG{
    object-fit: contain;
    margin-top: 5rem;
    width: 880px;
    height: 300px;
    opacity: 80%;
    background-image: url("{% static 'images/place.jpg' %}") !important;
}

#jumbo-text {
    opacity: 100% !important;
    color: black !important;
}

.title a {
    color: coral;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-body {
    text-align: center;
    color:rgb(255, 255, 255);
}

.main-background {
    
    background-color: #FAFAFA;
    color: #EA5C2B
}

.button {
    background-color: #E5890A;
    color: white;
}

.header-footer-link {
    color:coral;
    size: 3rem !important;
}

.nav-link {
    color:coral;
}

.login-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.login-links a:hover{
    color: #198753
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 60px;
}
.title a{
    color:coral;
    }

.icon-list {
    padding-bottom: 50px;
    list-style: none;
}
    
.icon-list li {
    display: flex;
    align-items: flex-start;
    margin-bottom: .25rem;
    }

    
body {
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 20px;
padding-bottom: 60px;
}



.title a{
color:coral;
}


.icon-list {
padding-bottom: 50px;
list-style: none;
}
.icon-list li {
display: flex;
align-items: flex-start;
margin-bottom: .25rem;
}

.lead {
    color:coral;
    font-weight: bold;
}

.description {
    width: 880px;
    height: 50px;
    color: black;
}


