.recipe-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 70vh;
    margin-top: 20px;
    background-color: white;
    width: 100vw;
    padding-top: 10px;
}

.jumbotron{
    margin:0px !important;
}

.list-recipes .card-header .group1{
    display: flex;
    gap: 10px;
}

.list-recipes i{
    font-size: 30px;
}

.list-recipes .card{
    width: 30% !important;
}

blockquote{
    color: black;
}

.list-recipes{
    width: 100%;
    padding: 20px;
    resize: both;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.list-card{
    display: flex;
    flex-wrap: wrap;
}

.list-recipes .card-header{
    display: flex;
    justify-content: space-between;
}

i{
    color:black;
}

.group2 i:hover{
    cursor: pointer;
    color:red
}

